/**/

body {

}

/*Классы*/

.area{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    background-color:#155002;
    background-size: 100% 100%;
    margin: auto;
}

.card{
    width: 90px;
    height: 140px;
    position: absolute;
    top: 0px;
    cursor: pointer;
    background-size: 100% 100%;
    -webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.card:hover {
	-webkit-box-shadow: 0 0 10px rgba(255,255,255,4), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 10px rgba(255,255,255,.4), inset 0 0 10px rgba(255,255,255,1);
	box-shadow: 0 0 30px rgba(255,255,255,.4), inset 0 0 10px rgba(255,255,255,1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-size: 100% 100%;
}
.open{
	background-image: url(../images/game_cart/0.png);
}
.open:img {
    max-width: 100%;
    width: 60%;
    min-width: 10%;    
}

.close{
    background-image: url(../images/game_cart/0.png);
    background-size: 100% 100%;
}
.close:img {
    max-width: 100%;
    width: 60%;
    min-width: 10%;    
}

.button{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.button_main{
    width: 300px;
    height: 50px;
    cursor: pointer;

}

.buttons_area{
    top: 80%; 
    left: 50%; 
    width: 300px;
    margin-left: -150px;
}

/*ID*/
/*Основные классы разделения на области*/
#table{
    width: 100%;
    height: 100%;
}

#left{
    width: 20%;
}

#mid{
    width: 55%; 
    left: 20%; 
}

#right{
    width: 25%; 
    left: 75%;
}

/*Левая область*/
#game_time{
    height: 10%; 
}

#old_cards{
    height: 80%; 
    top: 10%;
	min-height:140px;	
}
#old_cards:img {
    max-width: 100%;
    width: 60%;
    min-width: 10%;    
}
#left_button{
    height: 10%; 
    top: 90%; 
}

/*Центральная область*/
#player2_cards{
    height: 25%; 
	background-size: 100% 100%;
	min-height:140px;
}

#game_area{
    background-image: url(../images/background.png);
    height: 50%; 
    top:25%; 
    background-size: 100% 100%;
}

#player1_cards{
    height: 25%; 
    top:75%; 
	background-size: 100% 100%;
	min-height:140px;
}

/*Правая область*/
#stars{
    height: 10%; 
}

#new_cards{
    height: 80%; 
    top: 20%; 
	background-size: 100% 100%;
	min-height:140px;
}

#right_button{
    height: 10%; 
    top: 90%; 
}
#add100{
 height: 15%; 
 width: 27%; 
 background-size: 100% 100%;
 background-image: url(../images/100R.png);
}
#add10{
 height: 15%; 
 width: 27%; 
 background-size: 100% 100%;
 background-image: url(../images/25R.png);
}
#set0{
 height: 15%; 
 width: 27%; 
background-image: url(../images/reset.png);
 background-size: 100% 100%;
}
